/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* MODIFICAR ENCABEZADO*/


*{
	padding: 0px;
	margin: 0px;
}

header{
	padding:20px 0px ;
	width: 100%;
	height: 5%;
	max-width: 100%;
    background: #545454;
    position:relative;
    float: left;
	
}
#header{
	margin: auto;
	width: 100%;
	font-family:arial;
}

ul, ol {
	list-style: none;
}

.nav li a{
background-color: #000;
color: #fff;
text-decoration: none;
padding: 11px 25px;
display: block;
border-radius: 15px;
}
.nav li a:hover{
	background-color:#434343;
}
.nav > li{

	float: left;
}

.nav li ul{
	display:none;
	position: absolute;
	min-width: 14px;
}
.nav li:hover >ul{
	display: block;

}
.nav li ul li{
	position: relative;
}
.nav li img{
	padding: 5px .5px;
	width: 110px;
	height: 60px;
	position:relative;
	top: -20px;
	left: 10px;
}

.nav li .udec{
	padding: -5px .5px;
	width: 140px;
	height: 70px;
	position:relative;
	top: -20px;
	left: 10px;
}

/*////////////////////////////////////////////TERMINA MODIFICACION DE MI ENCABEZADO////////////////////////////////////////////////////*/







/*/////////////////////////////////////////////////INICIO DE PANEL LATERAL IZQUIERDO/////////////////////////////////////////////////////*/


.menu{
	width: 15.2%;
	height: 200%;
	position: relative;

	background: #4C4848;
    float: left;
}

.menu ul{
	padding-top: 40px;
	margin-left: -20px;
	margin-right: 20px;
}

.menu ul a{
	text-decoration: none;
	color: #f2f2f2;
	font: 15px verdana;
	display: block;
	background: blue;
	margin-bottom: 20px;
	padding: 10px 20px 10px 45px;
	border-radius: 15px;
	transition:background .6s, margin-left .6s, margin-right.6s;
	-webkit-transition:background .6s, margin-left .6s, margin-right.6s;
	-moz-transition:background .6s, margin-left .6s, margin-right.6s;
	-o-transition:background .6s, margin-left .6s, margin-right.6s;
}
.menu ul a:hover{
	margin-right: -40px;
	margin-left: 25px;
	background: red;

}
/*////////////////////////////////////////////////////FIN DE PANEL LATERAL IZQUIERDO//////////////////////////////////////////////////////*/




/*////////////////////////////////////DENTRO DE ESTE CUADRO COLOCAREMOS TODA NUESTRA INFORMACION//////////////////////////////////////////*/

.formato{
	width: 84.8%;
	height: 200%;
	position: static;
	background: #000;
    float: left;

}


/*////////////////////////////////////FIN DEL CUADRO DONDE COLOCAREMOS TODA NUESTRA INFORMACION//////////////////////////////////////////*/






/*//////////////////////////////////darle forma a mi tabla de registro de personas externas//////////////////////////////////*/

.perso_afue{
	border: 5px solid #787272;
	background:#4C4848;
	width: 48%;
	height: 150px; 
	clear: both;
	color:white;

}


.perso_afue h1{
text-align: center;

}


.perso_afue table{
width: 100%;
text-align: center;	
color:white;
}



/*FIN DE DARLE FORMA A LA TABLA PARA REGISTRAR A LAS PERSONAS EXTERNAS*/






/*////////////MODIFICAR TABLA DONDE ME APARENDEN TODOS MIS REGISTROS DE LAS PERSONAS EXTERNAS DE LA UDEC QUE FUERON REGISTRADAS //////////////*/

 .consulta{
   border: 5px solid #787272;
   background:#4C4848;
   width: 50%;
   height: 336px;
   position: relative;
   top: -160px;
   float: right;
   clear: both;
   overflow: scroll;
   color:white;
}


 .consulta h1{
   text-align:center;
}


.consulta table {
width: 100%;
text-align: center;
border: 5px solid #787272;
background:#4C4848;
color:white;

}
.consulta table tr:hover {
color: red;
background:#E3D3D3;

}

/*////////////FIN DE LA MODIFICACION DE MI  TABLA DONDE ME APARENCEN TODOS MIS REGISTROS DE LAS PERSONAS EXTERNAS DE LA UDEC QUE FUERON REGISTRADAS //////////////*/






/* INICIO DE TABLA PARA MOSTRAR LAS PEROSNAS EXTERNAS A LA UNIVERSIDAD BUSCADAS ESPECIFICAMENTE*/

.deco{
	border:5px solid #787272;
	background:#4C4848;
	color:white;
    width: 48%;
    height: 150px;
    position:relative;
    top:25px;
   
}

.deco h1{
	text-align: center;
   width: 95%;
}

.deco table{
	border: 5px solid #787272;
	text-align: center;
   width: 100%;
   color:white;
}


/* FIN DE TABLA PARA MOSTRAR LAS PEROSNAS EXTERNAS A LA UNIVERSIDAD BUSCADAS ESPECIFICAMENTE*/








/* INICIO DE TABLA PARA REGISTRAZAR EL NUMERO DE SOLICITUDES DE ENTRADA A LA UNIVERSIDAD*/
.num_solicitud{

border: 5px solid #787272;
background:#4C4848;
color:white;
width: 99%;
height: 160px;
position: relative;
top: -121px;
overflow-y:scroll;
}

.num_solicitud h1{
text-align: center;
}

.num_solicitud .btn{
width: 200px;
height: 35px;
font-size: 24px;
}


.num_solicitud table{
border: 5px solid #787272;
background:#4C4848;
width: 100%;
height: 35%;
color:white;
}

/*FIN DE TABLA PARA REGISTRAZAR EL NUMERO DE SOLICITUDES DE ENTRADA A LA UNIVERSIDAD*/





/*///////////////////////INICIO FORMATO TODAS LAS SOLICITUDES RECLAMADAS/////////////////////////////////////////*/

.muestra_solicitud{

	border: 5px solid #787272;
	background:#4C4848;
	color:white;
	position: relative;
	top: -100px;
	width: 99%;
	height: 200px;
	overflow-y:scroll; 
}

.muestra_solicitud h1{
  text-align: center;
}

.muestra_solicitud table{
	width: 100%;
	text-align: center;
	color:white;
}
.muestra_solicitud table tr:hover{
	color:red;
	background:#E3D3D3;
}

/*///////////////////////FIN FORMATO TODAS LAS SOLICITUDES RECLAMADAS/////////////////////////////////////////*/








/*INICIO MOSTRAR TABLA DE CODIGOS DISPONIBLES*/

.tablacodigoactivo{
	position: relative;
	top: -40px;
	width:44%;
	height: 250px;
    border: 5px solid #787272;
    background:#4C4848;
color:white;
	clear: both;
	overflow-y:scroll; 
    float: left;
padding: 15px 29px;
}



.tablacodigoactivo h1{
text-align: center;
}


.tablacodigoactivo table{
padding: 0% 5%;
	width: 95%;
	text-align: center;
	border: 5px solid #787272;
	background:#4C4848;
	color:white;

}


.tablacodigoactivo table tr:hover{
color: red;
background:#E3D3D3;

}

/*FIN DE MOSTRAR TABLA DE CODIGOS  DISPONIBLES*/







/*INICIO MOSTRAR TABLA DE CODIGOS NO DISPONIBLES*/

.tablacodigoinactivo{
	position: relative;
	top: -40px;
	width:44%;
	height: 250px;
    border: 5px solid #787272;
    background:#4C4848;
	color:white;
	overflow-y:scroll; 
    float: left;
      padding: 15px 28px;		
}

.tablacodigoinactivo h1{
text-align: center;	
}


.tablacodigoinactivo table{
padding: 0% 5%;
	width: 95%;
	text-align: center;
	border: 5px solid #787272;
	background:#4C4848;
		color:white;
}


.tablacodigoinactivo table tr:hover{
color:red;
background:#E3D3D3;
}


/*FIN DE MOSTRAR TABLA DE CODIGOS NO DISPONIBLES*/








/* INICOP DEL FORMULARIO PARA LA TABLA PARA MODIFICAR */

.datos{

	border:5px solid #787272;
	background:#4C4848;
	position: relative;
	top:-25px;
	height: 60px;
	width: 400px;
	clear: both;

}

.datos input{

width: 150px;
height: 25px;

}

/*FIND DE LA TABLA PARA MODIFICAR LOS CODIGOS DE LA UDEC	*/

















/*/////////////////////////////////////////////////////////////////HACER FOOTER//////////////////////////////////////////////////*/


footer{
	padding: 0px 10px;
	background: #545454;
	width: 98.5%;
	height: 30%;
    position: relative;
    top: 0%;
	clear: both;
	
}

.primero{
	width: 50%;
	padding: 0px 0px;
	font-size: 11px;
	  float: left;

}
.primero div {
	
    
	font-size: 14px;
	text-align: inherit;
}

section div ul li  {
	
   list-style: none;
	

}

.segundo div {
	padding: 1px 30px;
	font-size: 14px;
	text-align:right;

}

/*///////////////////////////////////////////AQUI TERMINA EL FOOTER*/